<h2>
	<%= pluralize(@post.comments.count, "Comment") %> 
</h2>
<% @post.comments.each do |c| %>
	<p>
		<%= c.body %>
		<%= c.name %>
		<%= link_to "Delete", [c.post, c],
								method: :delete,
								class: "button",
								data: { confirm: "Are you sure you want to delete this comment?"} 
		%>
	</p>
	<br>
<% end %>